data/census.csv
/config.local
/tmp
/cache
dvc_on_heroku_instructions.md
.dvc/cache
iam-vadim_accessKeys.csv
/census_cleaned.csv
devnotes.txt
jupyter_notebook.ipynb
ml/__pycache__/
tests/__pycache__/
cleaned_data/census_cleaned.csv
